/* DetailTable.css */

.overallContainer {
flex: 1;
border-radius: 6px;
width: 100vw;
min-width: 20vw;
margin: 0 ;
padding: 0 0 0 0;
/*border: 1px solid rgb(249, 246, 249);*/
border-width: 2px;
height:85%;

/*overflow: auto;*/
}

.child1_overallContainer {
flex: 1;
/*background:rgb(18, 7, 140);*/
border-radius: 6px;
height:90%;
width: 100vw;

margin: 0;
padding: 0;
/*border: 4px solid red;*/
overflow: auto;
}

.myheader {
width: 100vw;
margin: 0, 0,0, 0;;
box-sizing: 1px;
padding: 0;
/*background: #f3f4f6;8*/
/*border: 2px solid #cccccc;*/
height:15%;
display: flex;
align-items: center;    /* 垂直居中 */
justify-content: center; /* 水平居中 */

}


   