/* DetailTable.css */

.overallContainer {
flex: 1;
border-radius: 6px;
border: 1px solid #cccccc;
width: 100%;
min-width: 20vw;
margin: 20px ;
padding: 0 0 0 0;
border: 2px solid red;
border-width: 2px;
height:85%;

/*overflow: auto;*/
}

.child1_overallContainer {
flex: 1;
background:green;
border-radius: 6px;
height:90%;
width: 100%;
min-width: 30vw;
margin: 0 auto;
padding: 0;
border: 4px solid red;
overflow: auto;
}

.myheader {
width: "100%";
margin:0;
box-sizing: 1px;
padding: 0;
background: #f3f4f6;
border: 2px solid #cccccc;
height:100px;
display: flex;
align-items: center;    /* 垂直居中 */
justify-content: center; /* 水平居中 */

}


   